<h2>Confirm Your Order</h2>
        <p>
          <strong>Order Date:</strong>
          <%= h Time.now.strftime('%d %b, %Y') %>
        </p>
        <p>
          <strong>Pick Up:</strong>
          <%#= h @order.billing_name %>
        </p>
        <p>
          <strong>Quantity:</strong>
          <%#= h @order.shipping_name %>
        </p>
        <p>
          <strong>Bread Type:</strong>
          <%#= h @order.billing_name %>
        </p>
        <p>
          <strong>Sandwiches Type:</strong>
          <%#= h @order.shipping_name %>
        </p>
        <p>
          <strong>Spreads:</strong>
          <%#= h @order.billing_name %>
        </p>
        <p>
          <strong>Vegetables:</strong>
          <%#= h @order.billing_name %>
        </p>
        <p>
          <strong>Sauces:</strong>
          <%#= h @order.billing_name %>
        </p>