<h3>Custom Your Own Sandwich</h3>
<%=  f.input :spreads, 
                  :collection => [[1,'Crab'],[2,'Tuna'],[3,'Cheese'],[4,'Turkey'],[5, 'Scampi'],[6,'Meatballs'],[7,'Porc'],[8,'Fish']], 
                  :label_method => :last, 
                  :value_method => :first,
                  :item_wrapper_class => 'inline',
                  :checked => 1               
      %>  
      
      <%=  f.input :vegetables, 
                  :collection => [[1,'Salad'],[2,'Tomatoe'],[3,'Onions'],[4,'Carrots'],[5,'Eggs'],[6,'Cucumber']], 
                  :label_method => :last, 
                  :value_method => :first,
                  :item_wrapper_class => 'inline',
                  :checked => 1            
      %>  
      
      <%=  f.input :sauces, 
                  :collection => [[1, 'Mayo'], [2, 'Ketchup'],[3, 'Moutarde Oil']], 
                  :label_method => :last, 
                  :value_method => :first,
                  :item_wrapper_class => 'inline',
                  :checked => 1               
      %> 