<div class="container-fluid">
  <div class="row-fluid">
    <%= render :partial => 'price_list' %>
    <div class="span4">
      <h3>Edit Order</h3>
      <div class="well"><%= render 'form' %></div>
      <%= link_to '<button>Back</button>'.html_safe, root_url %>    
    </div>
    <%= render :partial => 'order_and_promo' %>
  </div>  
</div>


