
<h3>Fill Your Order Please</h3>
<p>Date <%= Time.now.strftime('%d %b %Y') %></p>
<p>Pick-Up Time:</p>

<p>Order Quantity:  %></p>

<%#= simple_form_for (@bread_types) do |bread_type| %>
<p>Bread Type: <%#= f.association :bread_type, collection: f(order: 'item'), as: :radio_buttons%> 
    <%#= bread_type.item %>
</p>
<%# end %>
 


<p>Sandwich Type:</p>
<button class="btn btn-large btn-primary" type="button">Confirm</buttton></br>


  
    <%#= link_to 'New Order page', new_order_page_path %> 
