<div class="container-fluid">
  <div class="row-fluid">
    <%= render :partial => 'price_list' %>  
    <div class="span4">
      <h3>Create Your Order</h3>
      <div class="well_order"><%= render 'form' %></div>      
      <%#= link_to 'Back', root_url %>
    </div>
    <%= render :partial => 'order_and_promo' %>
  </div>
</div>


