<footer id="footer">
  <div class="navbar navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="span3 col">
          <div class="block contact-block"> 
            <!--@todo: replace with company contact details-->
            <h4>Contact Us</h4>
            <address>
            <p><abbr title="Phone"><i class="icon-phone"></i></abbr> 019223 8092344</p>
            <p><abbr title="Email"><i class="icon-envelope"></i></abbr> looknfeel@gmail.com</p>
            <p><abbr title="Address"><i class="icon-home"></i></abbr> Bnp Paribas - Boreal Building, 55, Rue Du Progres 1020 Brussels</p>
            </address>
          </div>
        </div>
        <div class="span5 col">
          <div class="block">
            <h4>About Us</h4>
            <p>Making A Good Sandwich With Your Own Creation It's Our Service! Good Taste And Good Place</p>
          </div>
        </div>
        <div class="span4 col">
          <div class="block newsletter">
            <h4>Newsletter</h4>
            <p>Stay up to date with our latest news and product releases by signing up to our newsletter.</p>
            <!--@todo: replace with mailchimp code-->
            <form class="form-inline">
              <div class="input-append">
                <input class="input-medium" type="text" placeholder="Email">
                <button class="btn btn-primary" type="button">Go!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row-fluid">      
        <!--@todo: replace with company copyright details-->
        <div class="subfooter">
          <div class="span6">
            <p>by <a href="#">LookNFeel</a> | Copyright 2013</p>
          </div>        
        </div>
      </div>
    </div>
  </div>

</footer>