

    <div class="hero">
  
      <center><h3 class="front">Delicious Sandwiches Start From €1.0</h3></center>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span12">
            <div class="thumbnail">
              <center><h3>"Make Your Own"</h3></center>
              <img src="http://chf.chefthisup.com/posts/11883_638537977_m.jpg" alt=""> 
             
             
               <center><p class="tumb">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

    </p></center>
          
                <center>  
           
             
              <%= link_to '<button>Order Now!</button>'.html_safe, new_order_page_path%>
         
          </center> 
            </div>
          </li>      
        </ul>
   
      </div>
  
    
 
    </div>
    

