<div class="hero">
  
  <center><h1>Our Favourite Menu</h1></center>
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <center><h3>Menu 1</h3></center>
          <img src="http://chf.chefthisup.com/posts/11883_638537977_m.jpg" alt="">          
           <center><p class="tumb">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

</p></center>
          
            <center><%= link_to 'Order Now!', new_order_page_path %>  </center> 
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <center><h3>Menu 2</h3></center>
          <img src="http://chf.chefthisup.com/posts/9002_145718757_m.jpg" alt="">
          
           <center><p class="tumb">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

</p></center>
         
          <center><%= link_to 'Order Now!', new_order_page_path %>  </center>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <center><h3>Menu 3</h3></center>
          <img src="http://chf.chefthisup.com/posts/7911_280500748_m.jpg" alt="">
          
           <center><p class="tumb">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

</p></center>
            <center><%= link_to 'Order Now!', new_order_page_path %>  </center>  
        </div>
      </li>
      
    </ul>
   
  </div>
  
    
 
</div>
