  <div class="hero">        
        <div class="container_home">
          <h3 align="center">Delicious Sandwiches Start From €1.0</h3>     
       <p><a><%= link_to '<button>Order Now!</button>'.html_safe, new_order_page_path%></a></p> 
        </div>         
  </div>  
  <%= render 'home/footer' %>

  
    
    

