.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
padding-top: 3px;

}


.tumb{
  padding-top: 10px;
  padding-left: 24px;
}

#body{
  background-color: #ADFF85;
}


