
.wysihtml5 {
      height:100px;      
      overflow:scroll;      
      width:200px;     
      background-color: rgb(255, 255, 255); 
      border-collapse: separate; 
      border: 0.9090908765792847px solid rgb(204, 204, 204); 
      clear: none; 
      display: inline-block; 
      float: none; 
      margin: -8px 0px 0px 0px; 
      outline: rgb(85, 85, 85) none 0px; 
      outline-offset: 0px; 
      padding: 4px 6px; 
      position: static; 
      top: auto; 
      left: auto; 
      right: auto; 
      bottom: auto; 
      z-index: auto; 
      vertical-align: middle; 
      text-align: start; 
      box-sizing: content-box; 
      -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 0.9090908765792847px 0.9090908765792847px 0px inset; 
      box-shadow: rgba(0, 0, 0, 0.0745098) 0px 0.9090908765792847px 0.9090908765792847px 0px inset; 
      border-top-right-radius: 0px; 
      border-bottom-right-radius: 3.9914772510528564px; 
      border-bottom-left-radius: 3.9914772510528564px; 
      border-top-left-radius: 0px; 
      width: 290px; 
      height: 100px;  
      }
      

input[type="radio"]{
margin: 0px 10px 0;
margin-top: 1px \9;
padding-bottom:30px;
line-height: normal;}

.btnform{
      margin: 20px 0px 0px 240px;    
      background-color:#77b55a;    
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
      border-radius:4px;
    
      border:1px solid #4b8f29;
    
      display:inline-block;
      color:#F0ECBC;
      font-family:arial;
      font-size:20px;
      font-weight:bold;
      padding:8px 12px;
      text-decoration:none;
    
      text-shadow:0px 1px 0px #5b8a3c;
    
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    
  }
  .btnform:hover {
    color:#FFFFFF;
    -moz-box-shadow: 0px 12px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 12px 14px -7px #3e7327;
    box-shadow: 0px 12px 14px -7px #3e7327;
  
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
      background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
      background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
      background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
      background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
      background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    
      background-color:#72b352;
    
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }
  .btn:active {
      position:relative;
      top:1px;
  }
  

  .btn-group {
 
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 3.4px;
  .btn{
      font-size:9.5px;   
    }
  }
  
  
  
