// Place all the styles related to the order_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//  
//}
//.order  label {
//  float: left;
//  width: 100px;
//  text-align: right;
//  padding-top: 23px;
//  margin: 0px 6px;
//}
//
//.order  div.input {
//  padding-top: 20px;
//  margin-bottom: 0px;
//}
//
//.order  div.boolean[type='submit'] {
//  margin-left: 0px;
//}
//
//.order div.boolean label {
//  float: none;
//  margin: 0;
//}


//carrousel control
.carousel-inner {
  overflow: hidden;
  width: 200%;
  position: relative;
}

.carousel-control {
  position: absolute;
  left: 0px;
  width: 15px;
  height: 40px;
  margin-top: 0px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}


//------------------------------

//most_order
.most_order{
  padding:10px 0px 10px 20px;
  
}
//------------------------------

//well_order
.well_order {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #D4F0D8;
  border: 1px solid #FCFCFC;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
//----------------------------

//well
.well {
  min-height: 20px;

  margin-bottom: 20px;
  background-color: #E4EEF0;
  border: 1px solid #FCFCFC;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
//----------------------------


//pickuptime
select {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 40px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
//--------------------------

//order_quantity
input, textarea, .uneditable-input {
  margin-left: 22px;
  width: 150px;
}

label {
  display: -webkit-inline-box;
  margin-bottom:5px;
}
//--------------------------

//Bread_type
#bread {
  float: left;
  padding-top: 20px;
  padding-right: 36px;
  padding-bottom: 0px;
}
 

input[type="radio"] {
  float:none;
  margin-right:10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  width: auto;
  line-height: normal;
}
//------------------------------

//spread
#labelspread{
  
    vertical-align: middle;
    line-height: 60px;
    margin: 2px 0;
    display: block;
    height: 24px;
    top: -1px;
}

input[type="checkbox"] { 
   padding-left:10px;
    width: auto;
    height: 24px;
    vertical-align: bottom;
    
}

//----------------------------

//vegetable
.vegetable{padding-top:24px;}
//----------------------------

//sauce
#labelsauce{
  padding-top:24px;
}
//----------------------------

//comment
#comment{
  padding-top:24px;
}
//----------------------------





