

.field{
  $indent: 120px;
  label{float: left;
    padding-right:40px;
    margin: 20px 0px 30px 0px;
    text-align: right;
  }
  
 
      
  select {
  margin-left: 40px;
  width: 120px;
  border: 1px solid #030303;  
  background-color: #D9F8CF;
   }
   
   #order_page_pick_up_time{
     margin-left:40px;
     margin-bottom: 35px;
   }
   
   #order_page_order_quantity{
     margin-left:29px;
     margin-bottom: 35px;
   }
   
   #order_page_bread_type{
     margin-top:15px;
     margin-left:49px;
     margin-bottom: 35px;
   }
   
   #order_page_sandwiches_type {
   margin-top: 15px;
   margin-left: 10px;
   margin-bottom: 35px;
   }
   
   
   
   #order_page_spreads{
     margin-top: 15px;
     margin-left:62px;
     margin-bottom: 35px;
   }
   
   #order_page_vegetables{
     margin-top: 15px;
     margin-left:46px;
     margin-bottom: 35px;
   }
   
   #order_page_sauces{
     margin-top: 15px;
     margin-left:68px;
     margin-bottom: 35px;
   }
  
}

.btn{
  margin-left: 158px;
}

